/*------------------------------------*\
#FONTS
\*------------------------------------*/

@font-face {
  font-family: "Inter Web";
  font-weight: 300;
  src: url("../fonts/Inter-Light.woff2") format("woff2");
}

@font-face {
  font-family: "Inter Web";
  font-weight: 400;
  src: url("../fonts/Inter-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Inter Web";
  font-weight: 500;
  src: url("../fonts/Inter-Medium.woff2") format("woff2");
}

@font-face {
  font-family: "Inter Web";
  font-weight: 600;
  src: url("../fonts/Inter-SemiBold.woff2") format("woff2");
}

/*------------------------------------*\
  #Variables
  \*------------------------------------*/

:root {
  /* colors */
  --global-color-alpha-light: #4f95ff;
  --global-color-alpha: #3385ff;
  --global-color-alpha-dark: #2e77e6;
  --global-color-alpha-x-dark: #1b4186;
  --global-color-alpha-transparent: #3385ffbf;
  --global-color-alpha-x-transparent: #3385ff4d;

  --global-color-button: #4992f1;

  --global-color-background-xx-light: #c1d5f6;
  --global-color-background-x-light: #dfe7f3;
  --global-color-card-xx-light: #ffffff;
  --global-color-card-x-light: #e7eef9;

  --global-color-neutral-xxx-light: #3c7dd9;
  --global-color-neutral-xx-light: #caccd4;
  --global-color-neutral-x-light: #b5b6c0;
  --global-color-neutral-light: #a0a1ad;
  --global-color-neutral: #8b8c9a;
  --global-color-neutral-dark: #757787;
  --global-color-neutral-x-dark: #606274;
  --global-color-neutral-xx-dark: #4b4c60;
  --global-color-neutral-xxx-dark: #35374d;
  --global-color-neutral-xxxx-dark: #20223a;
  --global-color-neutral-xxxxx-dark: #000000;

  /* border stuff */
  --global-borderRadius: 30px;
  --global-borderRadius-sm: 15px;
  --global-borderWidth: 1px;

  /* transitions */
  --global-transitionTiming-alpha: 0.1s ease-out;

  /* Baseline settings */
  --global-baseline: 8px;
  --global-whitespace: calc(var(--global-baseline) * 4); /* = 24px */

  --global-whitespace-xs: calc(var(--global-baseline) / 2); /* = 4px */
  --global-whitespace-sm: calc(var(--global-baseline) * 1); /*  = 8px */
  --global-whitespace-md: calc(var(--global-baseline) * 2); /*  = 16px */
  --global-whitespace-lg: calc(var(--global-baseline) * 4); /*  = 32px */
  --global-whitespace-xl: calc(var(--global-whitespace) * 2); /*  = 48px */
  --global-whitespace-xxl: calc(var(--global-whitespace) * 3); /*  = 72px */

  /* Hover & Focus states */
  --global-input-backgroundColor: White;
  --global-input-color: var(--global-color-neutral-xxxx-dark);
  --global-input-borderColor: var(--global-color-neutral-xxx-light);
  --global-input-hover-borderColor: var(--global-color-neutral-xx-light);
  --global-input-focus-borderColor: var(--global-color-alpha);
  --global-input-boxShadow: 0 0 0 3px var(--global-color-alpha-x-transparent);
}

/*------------------------------------*\
  #GENERIC
  \*------------------------------------*/

/*
      Generic: Page
      ---
      Global page styles + universal box-sizing:
  */

html {
  height: 100%;
  font-size: 16px;
  line-height: 1.5;
  font-family: "Inter Web", Helvetica, arial, sans-serif;
  color: var(--global-color-neutral-xxxx-dark);
  background: linear-gradient(
    var(--global-color-background-xx-light),
    var(--global-color-background-x-light)
  );
  box-sizing: border-box;
  background-attachment: fixed;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/*
  * Remove text-shadow in selection highlight:
  * https://twitter.com/miketaylr/status/12228805301
  *
  * Customize the background color to match your design.
  */

::-moz-selection {
  background: var(--global-color-alpha);
  color: white;
  text-shadow: none;
}

::selection {
  background: var(--global-color-alpha);
  color: white;
  text-shadow: none;
}

/*------------------------------------*\
  #Elements
  \*------------------------------------*/

/*
  Elements: Images
  ---
  Default markup for images to make them responsive
  */

img {
  max-width: 100%;
  vertical-align: top;
}

/*
      Elements: typography
      ---
      Default markup for typographic elements
  */

h1,
h2,
h3 {
  font-weight: 700;
}

h1 {
  font-size: 24px;
  line-height: calc(var(--global-baseline) * 6);
  margin: 0 0 var(--global-whitespace);
}

h2 {
  font-size: 32px;
  line-height: calc(var(--global-baseline) * 5);
  margin: 0;
}

h3 {
  font-size: 26px;
  line-height: calc(var(--global-baseline) * 4);
  margin: 0 0 calc(var(--global-whitespace) / 2);
}

h4,
h5,
h6 {
  font-size: 16px;
  font-weight: 600;
  line-height: calc(var(--global-baseline) * 3);
  margin: 0 0 var(--global-whitespace);
}

p,
ol,
ul,
dl,
table,
address,
figure {
  margin: 0 0 var(--global-whitespace);
}

ul,
ol {
  padding-left: var(--global-whitespace);
}

li ul,
li ol {
  margin-bottom: 0;
}

blockquote {
  font-style: normal;
  font-size: 23px;
  line-height: calc(var(--global-baseline) * 6);
  margin: 0 0 var(--global-whitespace);
}

blockquote * {
  font-size: inherit;
  line-height: inherit;
}

figcaption {
  font-weight: 400;
  font-size: 12px;
  line-height: calc(var(--global-baseline) * 2);
  margin-top: var(--global-whitespace-xxs);
}

hr {
  border: 0;
  height: var(--global-borderWidth);
  background: LightGrey;
  margin: 0 0 var(--global-whitespace);
}

label,
input {
  display: block;
}

input::placeholder {
  color: var(--global-color-neutral-x-light);
}

/*------------------------------------*\
  #OBJECTS
  \*------------------------------------*/

/*
      Objects: Row
      ---
      Creates a horizontal row that stretches the viewport and adds padding around children
  */

.o-row {
  position: relative;
  padding: 24px;
}

@media (min-width: 768px) {
  .o-row {
    padding-left: var(--global-whitespace-lg);
    padding-right: var(--global-whitespace-lg);
  }
}

/*
      Objects: Container
      ---
      Creates a horizontal container that sets de global max-width
  */

.o-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 79.5em; /* 79.5 * 16px = 1272 */
  width: 100%;
}

/*
      Objects: Layout
      ---
      The layout object provides us with a column-style layout system. This object
      contains the basic structural elements, but classes should be complemented
      with width utilities
  */

.o-layout {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
}

.o-layout__item {
  width: 100%;
}

.o-layout__cards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: var(--global-whitespace);
}

/*
      Object: Button reset
      ---
      Small button reset object
  */

.o-button-reset {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;

  /* inherit font & color from ancestor */
  color: inherit;
  font: inherit;

  /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
  line-height: normal;

  /* Corrects font smoothing for webkit */
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;

  /* Corrects inability to style clickable `input` types in iOS */
  -webkit-appearance: none;
}

/*------------------------------------*\
  #COMPONENTS
  \*------------------------------------*/

/*
      Component: Logo
      ---
      Website main logo
  */

.c-logo {
  height: var(--global-whitespace);
  margin-bottom: var(--global-whitespace-xxl);
  font-weight: 600;
}

.c-link__title {
  text-decoration: none;
  color: var(--global-color-neutral-xxxxx-dark);
}
.c-logo__symbol {
  height: 100%;
}

.c-logo__path--1 {
  fill: var(--global-color-neutral-xxxx-dark);
}

.c-logo__path--2 {
  fill: var(--global-color-alpha);
}

.c-logo__path--3 {
  fill: var(--color-alpha-x-dark);
}

/*
      Component: SVG
      ---
      SVG's
  */

.c-svg__5times {
  fill: #30ac0e;
  padding-left: 1px;
  padding-right: 1px;
}
.c-svg__4times {
  fill: #309116;
  padding-left: 1px;
  padding-right: 1px;
}
.c-svg__3times {
  fill: #916616;
  padding-left: 1px;
  padding-right: 1px;
}
.c-svg__2times {
  fill: #915816;
  padding-left: 1px;
  padding-right: 1px;
}

/*
      Component: Card
      ---
      Card with box shadow
  */

.c-card__title {
  font-size: 0.75em;
  line-height: calc(var(--global-baseline) * 2);
  font-weight: 600;
  opacity: 0.6;
}
.c-card__title2 {
  font-size: 2em;
  line-height: calc(var(--global-baseline) * 4);
  font-weight: 600;
}

.c-card__title-value {
  font-size: 1.125em;
  margin-bottom: var(--global-whitespace-sm);
  line-height: normal;
}

@media (min-width: 27em) {
  .c-card__body {
    padding: var(--global-whitespace-xl);
  }

  .c-card__title {
    margin-bottom: var(--global-whitespace-xl);
  }
}

.c-description {
  margin: 0 0 calc(var(--global-whitespace) * 2.5);
  line-height: calc(var(--global-baseline) * 2.5);
  font-weight: 300;
}

/*
      Component: Input
      ---
      Class to put on all input="text" like form inputs
  */

.c-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  border: var(--global-borderWidth) solid var(--global-input-borderColor);
  border-radius: var(--global-borderRadius);
  color: var(--global-input-color);
  background-color: var(--global-input-backgroundColor);
  font-family: inherit;
  font-size: 16px;
  line-height: calc(var(--global-baseline) * 3);
  padding: calc(var(--global-baseline) * 1.5 - var(--global-borderWidth))
    var(--global-whitespace-md);
  outline: none;
}

.c-input:hover {
  border-color: var(--global-color-neutral-light);

  border: var(--global-borderWidth) solid var(--global-input-borderColor);
  background-color: var(--global-input-backgroundColor);
  color: var(--global-input-color);
}

.c-input:focus,
.c-input:active {
  border-color: var(--global-color-alpha);
  box-shadow: 0 0 0 3px var(--global-color-alpha-x-transparent);

  border: var(--global-borderWidth) solid var(--global-input-borderColor);
  background-color: var(--global-input-backgroundColor);
  color: var(--global-input-color);
}

/*
      Component: Image
      ---
      Class to put on all images
  */

.c-image {
  margin-top: var(--global-whitespace-md);
}

/*
      Component: Label
      ---
      Class to put on all form labels
  */

.c-label {
  margin-bottom: 0;
  font-size: 0.875em;
  padding-bottom: var(--global-whitespace-xs);
  line-height: calc(var(--global-baseline) * 2);
  color: var(--global-color-neutral-xx-dark);
}

.c-label--option {
  padding-bottom: 0;
}

/*
      Component: Button
      ---
      Class to put on form buttons or
  */

.c-button {
  cursor: pointer;
  font-size: 1em;
  font-weight: 700;
  border-radius: var(--global-borderRadius);
  border: var(--global-borderWidth) solid var(--global-color-alpha-dark);
  background-color: var(--global-color-alpha);
  color: #fff;
  padding: calc(var(--global-baseline) * 1.5 - var(--global-borderWidth))
    var(--global-whitespace-md);
  line-height: calc(var(--global-baseline) * 3);
  width: 100%;
  outline: none;
  transition: all var(--global-transition-timing-alpha);
}

.c-button:hover {
  background-color: var(--global-color-alpha-light);
}

.c-button:focus {
  box-shadow: 0 0 0 3px var(--global-color-alpha-x-transparent);
}

.c-button:active {
  background-color: var(--global-color-alpha-dark);
  box-shadow: none;
}

.c-card__title-card {
  margin-bottom: var(--global-whitespace-sm);
  line-height: 1.3;
  font-size: 0.875em;
  font-weight: 500;
  max-width: 11.875em;
  padding: 0 var(--global-whitespace-sm);
  text-align: center;
}

.c-gamecard {
  display: flex;
  border: var(--global-borderWidth) solid var(--global-color-neutral-xxx-light);
  border-radius: var(--global-borderRadius-sm);
  background: linear-gradient(
    var(--global-color-card-xx-light),
    var(--global-color-card-x-light)
  );
  max-width: 9.25em;
  max-height: 11.25em;
  cursor: pointer;
}

.c-gamecard__info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.c-thumbnail {
  width: 9.25em;
  max-height: 55px;
  border-top: var(--global-borderWidth) solid
    var(--global-color-neutral-xxx-light);
  border-left: var(--global-borderWidth) solid
    var(--global-color-neutral-xxx-light);
  border-right: var(--global-borderWidth) solid
    var(--global-color-neutral-xxx-light);
  border-radius: var(--global-borderRadius-sm) var(--global-borderRadius-sm) 0 0;
}

.c-price {
  display: flex;
  margin-top: auto;
  flex-direction: row;
  align-items: center;
}

.c-price__oldprice {
  font-size: 0.6875em;
  opacity: 0.7;
  margin-bottom: calc(var(--global-whitespace-xs) / 2);
}

.c-price__discount {
  font-size: 14px;
  margin-right: var(--global-whitespace-xs);
  margin-bottom: 2px;
}

.c-gamecard__rating {
  color: #b5bb56;
  font-size: 1em;
  margin-bottom: 0;
  padding-bottom: var(--global-whitespace-sm);
}

.c-microinteraction {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.c-button__zp {
  border: var(--global-borderWidth) solid var(--global-color-neutral-xxx-light);
  width: 6.5rem;
  padding: 0.5em 0 0.5em 0;
  text-align: center;
  border-radius: var(--global-borderRadius) 0 0 var(--global-borderRadius);
  margin-bottom: var(--global-whitespace);
  cursor: pointer;
}

.c-button__p {
  border-top: var(--global-borderWidth) solid var(--global-color-neutral-xxx-light);
  border-bottom: var(--global-borderWidth) solid var(--global-color-neutral-xxx-light);
  padding: 0.5em 0 0.5em 0;
  width: 6.5rem;
  text-align: center;
  margin-bottom: var(--global-whitespace);
  cursor: pointer;
}

.c-button__g {
  border: var(--global-borderWidth) solid var(--global-color-neutral-xxx-light);
  padding: 0.5em 0 0.5em 0;
  width: 6.5rem;
  text-align: center;
  border-radius: 0 var(--global-borderRadius) var(--global-borderRadius) 0;
  margin-bottom: var(--global-whitespace);
  cursor: pointer;
}

.c-button__micro {
  background-color: var(--global-color-card-xx-light);
  color: var(--global-color-button);
  font-size: 0.875em;
}

.c-button__micro:focus {
  background-color: var(--global-color-button);
  color: white;
}

.c-button__micro:hover {
  background-color: var(--global-color-button);
  color: white;
}



.c-button:active {
  background-color: var(--global-color-button);
  color: var(--global-color-card-xx-light);
}

/*------------------------------------*\
  #UTILITIES
  \*------------------------------------*/

/*
      Utilities: color
      ---
      Utility classes to put specific colors onto elements
  */

.u-color-neutral {
  color: var(--global-color-neutral);
}

.u-color-neutral-dark {
  color: var(--global-color-neutral-dark);
}

/*
      Utilities: spacing
      ---
      Utility classes to put specific margins and paddings onto elements
  */

.u-pt-clear {
  padding-top: 0 !important;
}

.u-mb-clear {
  margin-bottom: 0 !important;
}

.u-mb-xs {
  margin-bottom: var(--global-whitespace-xs) !important;
}

.u-mb-sm {
  margin-bottom: var(--global-whitespace-sm) !important;
}

.u-mb-md {
  margin: auto;
  max-width: 17.5em;
  margin-bottom: var(--global-whitespace-md) !important;
}

.u-mb-lg {
  margin-bottom: var(--global-whitespace-lg) !important;
}

.u-mb-xl {
  margin-bottom: var(--global-whitespace-xl) !important;
}

.u-mb-xl {
  margin-bottom: var(--global-whitespace-xl) !important;
}

/*
      Utilities: max-width
      ---
      Utility classes to put specific max widths onto elements
  */

.u-max-width-xs {
  max-width: 27em !important;
}

.u-max-width-s {
  max-width: 29.5em !important;
}

.u-max-width-sm {
  max-width: 39em !important;
}

.u-max-width-md {
  max-width: 50em !important;
}

.u-max-width-lg {
  max-width: 63.5em !important;
}

.u-max-width-xl {
  max-width: 110em !important;
}

.u-max-width-none {
  max-width: none !important;
}

/*
      Utilities: align
      ---
      Utility classes align text or components
  */

.u-align-text-center {
  text-align: center;
}

.u-align-center {
  margin: 0 auto;
}

@media (min-width: 768px) {
  .c-grid__body {
    display: grid;

    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 160px);
  }

  .c-grid__item-title {
    grid-column: 1/2;
    grid-row: 1/2;
    align-self: end;
  }

  .c-grid__desc {
    display: grid;
    grid-template-rows: repeat(2, auto);
  }

  .c-grid__item-description {
    grid-column: 1/2;
    grid-row: 2;
  }

  .c-grid__item-title2 {
    grid-column: 1/2;
    grid-row: 1;
  }

  .c-grid__item-buttons {
    grid-column: 1/2;
    grid-row: 3/4;
    margin-top: var(--global-whitespace-sm);
  }

  .c-grid__item-mockup {
    grid-column: 2/3;
    grid-row: 1/5;
    justify-self: end;
    align-self: center;
  }

  .c-thumbnail {
    max-height: 5.25em;
  }

  .c-card__body {
    padding: 0;
  }

  .c-card__title {
    margin: 0;
  }

  .c-card__title2 {
    font-size: 2.25em;
    line-height: 1.1;
    /* font-weight: bold; */
    max-width: 21em;
    margin-bottom: calc(var(--global-whitespace) / 2);
  }

  .c-description {
    max-width: 15em;
    margin: 0 0 calc(var(--global-whitespace) * 2.5);
  }

  .o-section-flex {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .c-form-field {
    max-width: 17.5em;
    margin: 0 var(--global-whitespace-md) 0 0;
  }

  .c-image {
    max-width: 18.75em;
    margin-top: 0;
  }

  .c-button {
    width: 17.5em;
  }

  .u-mb-md {
    margin: 0;
  }

  .c-logo {
    margin-bottom: var(--global-whitespace);
  }

  .c-card__body {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .o-layout__cards {
    justify-content: space-between;
  }

  .o-layout__micro {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
  }

  .c-microinteraction {
    margin-top: var(--global-whitespace-md);
  }

  .c-card__title {
    margin-bottom: 0;
  }

  .c-cheap__games {
    margin: 0 auto;
  }

  .c-lesscheap__games {
    margin: 0 auto;
  }

  .c-leastcheap__games {
    margin: 0 auto;
  }

  .c-gamecard {
    max-width: 14em;
    max-height: 17.5em;
  }

  .c-thumbnail {
    width: 14em;
  }

  .c-card__title-card {
    margin-top: var(--global-whitespace-sm);
    font-size: 1em;
  }

  .c-gamecard__rating {
    font-size: 1.5em;
  }

  .c-price__discount {
    font-size: 1em;
  }

  .c-price__oldprice {
    font-size: 0.6875em;
  }

  .c-button__zp {
    border: var(--global-borderWidth) solid
      var(--global-color-neutral-xxx-light);
    padding: 0.5em 0 0.5em 0;
    width: 7.5rem;
    border-radius: var(--global-borderRadius) 0 0 var(--global-borderRadius);
    margin-bottom: var(--global-whitespace);
  }

  .c-button__p {
    border-top: var(--global-borderWidth) solid
      var(--global-color-neutral-xxx-light);
    border-bottom: var(--global-borderWidth) solid
      var(--global-color-neutral-xxx-light);
    padding: 0.5em 0 0.5em 0;
    width: 7.5rem;
    margin-bottom: var(--global-whitespace);
  }

  .c-button__g {
    border: var(--global-borderWidth) solid
      var(--global-color-neutral-xxx-light);
    padding: 0.5em 0 0.5em 0;
    width: 7.5rem;
    border-radius: 0 var(--global-borderRadius) var(--global-borderRadius) 0;
    margin-bottom: var(--global-whitespace);
  }

  .c-button__micro {
    background-color: var(--global-color-card-xx-light);
    color: #4992f1;
    font-size: 1em;
  }
}

@media (min-width: 1024px) {
  .o-section-flex {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }

  .c-button {
    width: 168px;
  }

  .c-image {
    max-width: 16em;
  }

  .c-card__title2 {
    /* 22em werkt niet */
    max-width: 352px;
  }

  .c-button__p {
    width: 9em;
    text-align: center;
    padding: 0.5em 0 0.5em 0;
  }

  .c-button__zp {
    width: 9em;
    text-align: center;
    padding: 0.5em 0 0.5em 0;
  }

  .c-button__g {
    width: 9em;
    text-align: center;
    padding: 0.5em 0 0.5em 0;
  }

  .u-max-width-xl {
    max-width: 76em !important;
  }
}

@media (min-width: 1200px) {


  .c-image {
    max-width: 21em;
  }
}

@media (min-width: 1540px) {
  .c-grid__body {
    display: grid;

    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 200px);
  }

  .c-grid__item-buttons {
    margin-top: var(--global-whitespace-xl);
  }

  .o-container {
    max-width: 100%;
    margin: 0;
  }

  .o-row {
    margin: 5em 12.5em;
    padding: 0;
  }

  .c-card__title {
    font-size: 1.25em;
    font-weight: 500;
  }

  .c-card__title2 {
    font-size: 3.5em;
    max-width: 34.375em;
    font-weight: 500;
  }

  .c-description {
    font-size: 1.5em;
    max-width: 28.125em;
  }

  .c-form-field {
    width: 20em;
  }

  .c-button {
    width: 13.5em;
  }

  .c-image {
    max-width: 23.75em;
  }

  .c-logo {
    font-size: 2em;
    margin-bottom: var(--global-whitespace-lg);
  }

  .u-max-width-xl {
    max-width: 110em !important;
  }
}
